<footer class="footer py-1 mt-auto" style="background: #fcdc5d ;">
    <div class="container d-flex justify-content-center">
        <span class="text-muted">&copy;Magic Box 2021</span>
    </div>
</footer>