<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Magic Box</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mm-auto">
        <li class="nav-item" style="margin-left: 15px;">
          <a class="nav-link active" aria-current="page" href="/">Find Ideas</a>
        </li>
        <li class="nav-item dropdown" style="margin-left: 15px;">
          <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Category
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">1</a></li>
            <li><a class="dropdown-item" href="#">2</a></li>
            <li><a class="dropdown-item" href="#">3</a></li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="" style="margin-right: 25px;">
          <form action="/" method="GET" class="form-inline d-flex searchForm">
            <input name="keyword" type="text" class="form-control me-2" placeholder="Search...">
            <button type="submit" class="btn btn-primary" id="searchIcon"><svg xmlns="http://www.w3.org/2000/svg"
                width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
              </svg>
            </button>
          </form>
        </li>
        <% if(currentUser) {%>
          <li class="nav-item dropdown" style="margin-right: 15px;">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <%= currentUser.username %>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="width:10px;">
              <li><a class="dropdown-item" href="/user/<%= currentUser._id %>">My page</a></li>
              <li><a class="dropdown-item" href="/logout">Logout</a></li>
            </ul>
          </li>
          <li class="navbar-nav">
            <form class="">
              <button onclick="location.href='/new'" type="button" class="btn btn-primary">Create new Idea</button>
            </form>
          </li>
        <%} else {%>
          <li class="navbar-nav">
            <form class="">
              <button onclick="location.href='/login'" type="button" class="btn btn-primary me-1">Login</button>
            </form>
            <form class="">
              <button onclick="location.href='/register'" type="button" class="btn btn-primary">Register</button>
            </form>
          </li>
        <%}%>
      </ul>
    </div>
  </div>
</nav>