<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>editor</title>
    <script src="https://cdn.ckeditor.com/ckeditor5/29.0.0/classic/ckeditor.js"></script>
    <script src='/node_modules/@ckeditor/ckeditor5-upload/src/adapters/simpleuploadadapter.js'></script>
</head>
<body>
    <div id="editor">
        <p>This is some sample content.</p>
    </div>
    <script>
        ClassicEditor
            .create(document.querySelector('#editor'),{
                plugins:[SimpleUploadAdapter],
                simpleUpload:{
                    uploadUrl:''
                }
            })
            .catch(error=>{
                console.error(error)
            })
    </script>
</body>
</html>