.indexPage{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ideaCard{  /*container of each idea in index page*/
    width:55em;
    border: solid;
    border-width: 1px;
    border-color: rgba(173,181,189,0.4);
    border-radius:7px;
    background-color: white;
}

.indexIdeaDescription{
    width: 100%;
    overflow: hidden; 
    display: -webkit-box; 
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
}

.indexIdeaAuthor{       
    font-weight: 350;
    font-size: 20px;
    color: grey;
}

.indexIdeaContent{      /*container of title & description*/
    display: flex;
    flex-direction: column;
    justify-content: start;
    height:18rem; 
    width: 48rem;
}

.indexIdeaTitle{
    font-weight: 800;
}

.more-btn{
    background-color: #fcdc5d;
    text-decoration: none;
    padding: 7px 20px;
    font-size: 15px;
    font-weight: 800;
    border: none;
    border-radius: 5px;
    color:rgba(0,0,0,0.7);
    cursor: pointer;
}

.more-btn:hover{
    background-color: #fec601;
    color:rgba(0,0,0,0.7);
}

.likedNum{
    font-weight: 330;
    font-size:15px;
}

@media (max-width:900px){
    .ideaCard{  /*container of each idea in index page*/
        width:40em;
    }
    .indexIdeaDescription{
        width: 85%;
    }
    .indexIdeaContent{      /*container of title & description*/
        height:18rem; 
        width: 38rem;
    }
}

@media (max-width:660px){
    .ideaCard{  /*container of each idea in index page*/
        width:25em;
    }
    .indexIdeaDescription{
        width: 75%;
    }
    .indexIdeaContent{      /*container of title & description*/
        height:18rem; 
        width: 25rem;
    }
}
