.indexIdeaDescription{
    width:100%;
    overflow: hidden; 
    display:-webkit-box; 
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
}

.indexIdeaContent{
    display: flex;
    flex-direction: column;
    justify-content: start;
    height:18rem; 
    width: 48rem;
}

.indexIdeaContainer{
    width:55em;
    border: solid;
    border-width: 1px;
    border-color: rgba(173,181,189,0.4);
    border-radius:7px;
    background-color: white;
}

@media (min-width:1000px){
    .indexPage{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

.btn-IndexMore{
    background-color: #fcdc5d;
    border-color:#fcdc5d ;
    color:black;
}

.btn-IndexMore:hover{
    color:black;
    background-color: #fec601;
    border-color:#fec601 ;
}


.indexIdeaTitle{
    font-weight: 800;
}

.IndexideaAuthor{
    font-weight: 350;
    font-size: 20px;
    color: grey;
}

.indexLikedNumber{
    font-weight: 330;
    font-size:15px;
}
