/* idea */
.ideaAuthor{
    font-size:20px;
    color: grey;
}

.followBtn{
    font-size:18px;
    text-decoration: none;
    margin-top:2px;
    color:#00b4d8;
}

.followBtn:hover{
    color:#0077b6;
}

.ideaTitle{
    font-size:20px;
    margin-left: 20px;
    margin-top:10px;
    font-weight: 570;
}

.ideaDescription{
    margin-left: 20px;
    margin-top: 10px;
}

.editDeleteBtn {/*only author can see the edit & delete btn*/
    margin-left: 10px;
    font-size: 17px;
    width: 80px;
}

.showIdea-buttons {/*5 btns below idea*/
    background-color: #fcdc5d;
    padding: 7px 10px;
    margin-left: 10px;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    color:rgba(0,0,0,0.7);
    cursor: pointer;
}

.showIdea-buttons:hover {
    background-color: #fec601;
    color:rgba(0,0,0,0.7);
}


/* comment */
.commentReplyUsername{
    color: grey;
}

.commentSubmit{
    background-color: #fcdc5d;
    border-color:#fcdc5d ;
    color:black;
}

.commentSubmit:hover{
    background-color: #fec601;
    border-color:#fec601 ;
}

.replyIndex{
    border:none;
}

.eachReply{
    border-top:solid;
    border-width:1px;
    border-color:silver;
}

.replyButton{
    background-color: #caf0f8;
    border-color:#caf0f8 ;
    color:black;
}

.replyButton:hover{
    background-color: #0275d8;
    border-color: #0275d8;
    color:white;
}

.commentDeleteButton{
    background-color: #f8ad9d;
    border-color:#f8ad9d ;
    color:black;
}


/*answer*/
#answerSubmit{
    background-color: #fcdc5d;
    border-color:#fcdc5d ;
    color:black;
}

#answerSubmit:hover{
    color:black;
    background-color: #fec601;
    border-color:#fec601 ;
}

.answerAuthor{
    font-size:20px;
    color: grey;
}