/* idea */
.ideaAuthor{
    font-size:20px;
    color: grey;
}

.followBtn{
    font-size:18px;
    text-decoration: none;
    margin-top:2px;
    color:#00b4d8;
}

.followBtn:hover{
    color:#0077b6;
}

.ideaTitle{
    font-size:20px;
    margin-left: 20px;
    margin-top:10px;
    font-weight: 570;
}

.ideaDescription{
    margin-left: 20px;
    margin-top: 10px;
}

.editDeleteBtn {/*only author can see the edit & delete btn*/
    margin-left: 10px;
    font-size: 17px;
    width: 80px;
}

.showIdea-buttons {/*5 btns below idea*/
    background-color: #fcdc5d;
    padding: 7px 10px;
    margin-left: 5px;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    color:rgba(0,0,0,0.7);
    cursor: pointer;
}

.showIdea-buttons:hover {
    background-color: #fec601;
    color:rgba(0,0,0,0.7);
}


/* comment */
/* #comment{
    border:solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: #ced4da;
} */

.commentNavigationBtn{
    font-size:17px;
}

.commentNavigationBtn:hover{
    color:#00b4d8;
}

.commentReplyUsername{
    color: grey;
}

.commentSubmit{
    background-color: #fcdc5d;
    border-color:#fcdc5d ;
    color:black;
}

.commentSubmit:hover{
    background-color: #fec601;
    border-color:#fec601 ;
}

.replyIndex{
    border:none;
}

.eachReply{
    border-top:solid;
    border-width:1px;
    border-color:silver;
}

.replyButton{
    background-color: #caf0f8;
    border-color:#caf0f8 ;
    color:black;
}

.replyButton:hover{
    background-color: #0275d8;
    border-color: #0275d8;
    color:white;
}

.commentDeleteButton{
    background-color: #f8ad9d;
    border-color:#f8ad9d ;
    color:black;
}


/*create answer*/
#answerSubmit{
    background-color: #fcdc5d;
    border-color:#fcdc5d ;
    color:black;
}

#answerSubmit:hover{
    color:black;
    background-color: #fec601;
    border-color:#fec601 ;
}

.createAnswerArea{
    border:solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: #ced4da;
}


/* answer index */
.answerAuthor{
    font-size:20px;
    color: grey;
}

#backgroundCover{
    top:0%;
    left:0%;
    visibility: hidden;
    position:fixed;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 0;
    opacity: 0.5;
}

.answerEdit-modal{
    position:fixed;
    top:55%;
    left:50%;
    transform:translate(-50%,-50%) scale(0);
    transition: 300ms ease-in-out;
    border:1px solid black;
    border-radius:10px;
    z-index: 2;
    width: 800px;
    max-width: 80%;
    background-color: white;
}

.answerEdit-modalBody{
    height: 600px;
    overflow-y:scroll;
}

.answerEdit-modalHeader{
    padding:10px 15px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    border-bottom: 1px solid black;
}

.answerEdit-modalHeader .answerEditTitle{
    font-size:1.25rem;
    font-weight:bold;
}

.answerEdit-modalHeader .answerEditClose-btn{
    cursor:pointer;
    border:none;
    outline:none;
    background:none;
    font-size:1.5rem;
    font-weight: bold;
}

.carousel-button{
    z-index:0;
}