/* .commentBackground{
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.7);
    position:absolute;
    top:0;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.commentContent{
    width:750px;
    height:600px;
    background-color: white;
    overflow:scroll;
}

.close{
    font-size: 40px;
    color: white;
    transform: rotate(45deg);
    margin-top: 140px;
    padding-left: 0px;
    padding-right: 0px;
    cursor:pointer;
} */

#commentSubmit{
    background-color: #fcdc5d;
    border-color:#fcdc5d ;
    color:black;
}

#commentSubmit:hover{
    color:black;
    background-color: #fec601;
    border-color:#fec601 ;
}

.replyButton{
    background-color: #caf0f8;
    border-color:#caf0f8 ;
    color:black;
}

.replyButton:hover{
    background-color: #0275d8;
    border-color: #0275d8;
    color:black;
}

.commentUsername{
    font-weight:800;
}

.replyIndex{
    border:none;
}

.eachReply{
    border-top:solid;
    border-width:1px;
    border-color:silver;
}

.replySubmit{
    background-color: #fcdc5d;
    border-color:#fcdc5d ;
    color:black;
}

.replySubmit:hover{
    color:black;
    background-color: #fec601;
    border-color:#fec601 ;
}

.ideaAuthor{
    font-size:20px;
}

.followBtn{
    font-size:18px;
    text-decoration: none;
    margin-top:2px;
    color:#00b4d8;
}

.followBtn:hover{
    color:#0077b6;
}

.ideaTitle{
    font-size:20px;
    margin-left: 20px;
    margin-top:10px;
    font-weight: 570;
}

.ideaDescription{
    margin-left: 20px;
    margin-top: 10px;
}


.showIdea-buttons {
    background-color: #fcdc5d;
    padding: 7px 10px;
    margin-left: 10px;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    color:rgba(0,0,0,0.7);
    cursor: pointer;
}


.showIdea-buttons:hover {
    background-color: #fec601;
    color:rgba(0,0,0,0.7);
}

