<div class="ms-4 me-4 mb-3" id='answerContainer'>
    <div>Answers:</div>

</div>
<div class='loadingSign'>loading...</div>
<div id='backgroundCover'>

</div>

<script>
    let answerEditBtn = document.querySelectorAll('.answerEdit-btn')                    //edit button
    for (let i = 0; i < answerEditBtn.length; i++) {
        answerEditBtn[i].addEventListener('click', function () {
            const answerId = answerEditBtn[i].id.slice(13)
            const answerEditModal = document.querySelector('#answerEditModal' + answerId)
            answerEditModal.style.transform = 'translate(-50%,-50%) scale(1)';  
            document.querySelector('#backgroundCover').style.visibility='visible'
            $('body').css('overflow','hidden')
        })
    }
    let answerEditCloseBtn = document.querySelectorAll('.answerEditClose-btn')          //close
    for(let i = 0; i < answerEditCloseBtn.length; i++){
        answerEditCloseBtn[i].addEventListener('click',function(){
            const answerId = answerEditCloseBtn[i].id.slice(18);
            const answerEditModal = document.querySelector('#answerEditModal' + answerId);
            answerEditModal.style.transform = 'translate(-50%,-50%) scale(0)';  
            document.querySelector('#backgroundCover').style.visibility='hidden';
            $('body').css('overflow','auto')
        })
    }
    
</script>
<script>
    let answerIdArray = JSON.parse('<%-JSON.stringify(answerIdArray)%>');
</script>
<script src='js/answer/paginatedAnswer.js'></script>
<script src='js/answer/submitAnswerComment.js'></script>
<script src='js/answer/paginatedAnswerComment.js'></script>