<% layout('layouts/boilerplate') %>
    <div class="indexPage">
        <div class='ideas'>
        </div>
        <div class='loader'>
            loading in progress...
        </div>
    </div>
    <script src='/js/infiniteScroll.js'></script>



