<% layout('layouts/boilerplate') %>
    
    <div><a href="/new">Create an idea</a></div>
    <ul>
        <%for(let idea of ideas){%>
                <div class="mb-3" style="
                width:1100px;
                border: 2px;
                border-color: black;
                background-color: white;">
                    <div class=" mt-4" style="justify-content: start;">author: <%= idea.author.username%></div>
                    <div class=" eachIdea" style=" height:25rem; width: 60rem;">
                        <div class="mb-3 indexIdeaTitle">
                            <%= idea.title%>
                        </div>
                        <div class="indexIdeaDescription mb-2">
                            <%=idea.description%>
                        </div>
                        <div class=''>
                            <a href="/<%=idea._id%>" class="btn btn-primary bt-auto">more</a>
                        </div>
                    </div>
                </div>
        <%}%>
    </ul>


   