<% layout('layouts/boilerplate') %>
    <div><a href="/new">Create an idea</a></div>
    <div class='ideas'>
    </div>
    <div class='loader'>
        loading in process...
    </div>
    <script src='/js/infiniteScroll.js'></script>



