<% layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center">New Idea</h1>
        <div class="col-6 offset-3">
            <form action="/" method="POST" novalidate class="validated-form">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="idea[title]" required  maxlength="100">
                    <div class="valid-feedback">good!</div>
                    <div class="invalid-feedback">Please enter a title.</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="title" name="idea[description]" rows="5"
                        required></textarea>
                    <div class="valid-feedback">good!</div>
                    <div class="invalid-feedback">Please provide description.</div>
                </div>
                <button class="btn btn-success">submit</button>
            </form>
        </div>