<% layout('layouts/boilerplate') %>
    <div class="newIdeaContainer">
        <div class="newIdeaInnerContainer">
            <div class="text-center" id="createNewIdeaTitle">Create New Idea</div>
            <div class="">
                <form action="/" method="POST" novalidate class="validated-form my-3"  enctype="multipart/form-data" id='submitIdeaForm'>           
                    <div class="mb-3">
                        <label class="form-label" for="title">Title:</label>
                        <input class="form-control" type="text" id="title" name="idea[title]" required maxlength="100">
                        <div class="valid-feedback">good!</div>
                        <div class="invalid-feedback">Please enter a title.</div>
                    </div>
        
                    <div class="mb-3">
                        <label class="">Description:</label>
                        <textarea class='form-control textEditorArea' name="idea[description]" placeholder="description:" id='submitIdeaDescription'></textarea>
                        <div id='noIdeaDescriptionErrorMessage' class='noContentWarning'>

                        </div>
                    </div>
        
                    <div class="mb-4 mt-3">
                        <label for="ideaImage" class="form-label">upload images:</label>
                        <input class="form-control" type="file" id="ideaImage" name='ideaImage' multiple>
                    </div>
                
                    <div class='ideaSubmitContainer'>
                        <button type="submit" class="btn" id='ideaSubmit'>Save</button>    
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src='/js/submitIdea.js'></script>

        