<% layout('layouts/boilerplate') %>
    <div class="indexPage">
        <div><a href="/new">Create an idea</a></div>
        <div class='ideas' id="searchIndex">
            <%=keyword%>
        </div>
        <div class='loader'>
            loading in progress...
        </div>
    </div>
    <script>var keyword = JSON.parse('<%-keyword%>');
            window.keyword = keyword;
            </script>
    <script src='/js/infiniteScroll.js'></script>