<% layout('layouts/boilerplate') %>
    <div class="indexPage">
        <div>
            <div class='ideas' id="searchIndex">
                searching results of <%=keyword%>
            </div>
            <div class='loader'>
                loading in progress...
            </div>
        </div>
    </div>
    <script>var keyword = JSON.parse('<%-keyword%>');
            window.keyword = keyword;
            </script>
    <script src='/js/infiniteScroll.js'></script>
