<% layout('layouts/boilerplate') %>
    <div>
        <h2>Title: <%=idea.title%></h2>
        <h3>Description:</h3> 
        <div><%=idea.description%></div>
    </div>
    <form>
        <button onclick="location.href='/<%=idea._id%>/edit'" type="button"class="btn btn-primary mb-3">Edit</button>
    </form>
    <form>
        <button onclick="location.href='/'" type="button" class="btn btn-success mb-3">Back to Home</button>
    </form>
    <form method="POST" action="/<%= idea._id %>?_method=DELETE">
        <button class="btn btn-danger md-3">Delete</button>
    </form>
