<% layout('layouts/boilerplate') %>
    <div class="showPageContainer">
        <div class="card mb-3 showPageCard">
            <%- include('../partials/showPartials/ideaDetail.ejs')%>
            
            <%- include('../partials/showPartials/comment.ejs')%>
            
            <%- include('../partials/showPartials/writeAnswer.ejs')%>

            <%- include('../partials/showPartials/answerIndex.ejs')%>
        </div>
    </div>
    