<% layout('layouts/boilerplate') %>
    <div>
        <div class="row mt-5">
            <div class="col-6 offset-3">
                <div class="card mb-3">
                    <div class="card-body">
                        <h1>
                            <%=user.username%> is following:
                        </h1>
                        <% if(user.following.length> 0) { %>
                            <ul>
                                <% for (let following of user.following) { %>
                                    <li>
                                        <a href='/user/<%= following._id%>'>
                                            <%=following.username %>
                                        </a>
                                    </li>
                                    <% } %>
                            </ul>
                            <% } else { %>
                                <p>Sorry, <%= user.username %> hasn't followed any user..</p>
                                <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>