<% layout('layouts/boilerplate') %>
    <div class="row">
        <div class="col-6 offset-1 mt-5">
            <div class="card mb-3">
                <div class="card-body">
                    <h2>Email: <%= user.email %>
                    </h2>
                    <h3>Like following post:</h3>
                    <% for(let post of user.likePost) { %>
                        <h5>
                            <%= post.title %>:
                        </h5>
                        <p>
                            <%= post.description %>
                        </p>
                        <br>
                        <% } %>
                </div>
            </div>
        </div>
    </div>